/* Start nav menu */
.ImgHeader .allHeader {
  background-color: var(--new-color);
  z-index: 1000;
}

.ImgHeader {
  min-height: 0;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
#header .main_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--main-transition);
  position: relative;
}

.logo {
  width: 80px;
  height: 75px;
}

.logo img {
  margin-top: 2px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
#header .main_Header nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .main_Header nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .main_Header nav .links li a {
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
  display: block;
  padding: 5px 30px;
  position: relative;
  height: 25px;
  text-decoration: none;
}

#header .main_Header nav .links li a::after {
  content: "";
  position: absolute;
  border-width: 2px 0;
  border-color: var(--white-color);
  border-style: solid;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale3d(0, 1, 1);
  transition: transform 0.2s;
  border-radius: 6px;
  padding: 13px 0;
}

#header .main_Header nav .links li a:hover::after {
  transform: scale3d(1, 1, 1);
}

#header .main_Header nav .links li a:hover {
  color: var(--orange-color);
}

#header .allHeader .icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

#header .allHeader .icons .userIcon a {
  font-size: 22px;
  color: var(--white-color);
  cursor: pointer;
}

/* End nav menu */

/* Start section blog */
.blog {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.blog .titleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--border-color);
  margin: 0 0 50px 0;
}
.blog .titleSection .title {
  font-size: 30px;
  font-weight: bold;
  color: var(--new-color);
  text-transform: uppercase;
}
.blog .allBlog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.blog .allBlog .blogOne {
  border: var(--border-color);
  border-radius: 7px;
}

.blog .allBlog .blogOne .img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}
.blog .allBlog .blogOne .content {
  padding: 20px 30px 10px 30px;
}
.blog .allBlog .blogOne .content .title {
  font-size: 16px;
  font-weight: bold;
  color: var(--new-color);
  line-height: 1.6;
}

.blog .allBlog .blogOne .content .text {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary);
  line-height: 1.7;
}

.blog .allBlog .blogOne .views {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 30px;
}

.blog .allBlog .blogOne .views span {
  font-size: 14px;
  font-weight: bold;
  color: var(--black-color);
}
/* End section blog */
/* Start footer */
.footer .mainFooter .allFooter .foot2 .titleFoot2::before {
  right: 0;
}
.price .allPrice .cardPrice_content .card__list .card__list-item {
  gap: 20px;
}
.singin .allsingin .singin-1 .singincontent .socialsing .sing i {
  margin-left: 10px;
}
.footer .mainFooter .allFooter .foot1 .add i {
  margin-left: 6px;
}

/* End footer */
/* Start media */
@media screen and (max-width: 991px) {
  .blog .allBlog {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .blog .allBlog .blogOne .content {
    padding: 20px 15px 10px 15px;
  }
  .blog .allBlog .blogOne .content .title {
    font-size: 14px;
  }

  .blog .allBlog .blogOne .content .text,
  .blog .allBlog .blogOne .views span {
    font-size: 12px;
  }

  .blog .allBlog .blogOne .views {
    padding: 10px 15px;
    gap: 20px;
  }
}

/* End media */
