/* Start all form */
.singupimg{
    background-image: url(../../shared/img/member-log-membership-username-password-concept.jpg);
    background-position:  100% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.singupimg::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}


.singin .allsingin {
    display: flex;
    justify-content: center;
    gap: 3rem;
    border-radius: 10px;
    padding: 10px;
}

.singin .allsingin .singin-1 {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 50%;
}

.newAccountSignIn,
.newAccountSignUp {
    font-size: 17px;
    font-weight: bold;
    color: #2531cf;
    display: block;
    padding-top: 20px;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.titlelog {
    font-size: 25px;
    font-weight: 500;
    color: var(--dark);
    border-bottom: 2px solid var(--white-1);
    padding: 10px 0;
}
/* Start Button Scroll To Top  */
.scrollTop {
    position: fixed;
    bottom: 20px;
    left: -60px;
    background-color: var(--new-color);
    color: var(--white-color);
    font-size: 22px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    z-index: 700;
    border-radius: 5px;
    transition: var(--main-transition);
}

.scrollTop:hover {
    background-color: var(--orange-color);
}

.scrollTop.activeTop {
    left: 25px;
}

/* End Button Scroll To Top  */
.cont {
    font-size: 16px;
    font-weight: 400;
    color: var(--success);
}

.singin .allsingin .singin-1 .singincontent {
    width: 100%;
    margin: 20px 0;
}

.singin .allsingin .singin-1 .singincontent .socialsing {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.singin .allsingin .singin-1 .singincontent .socialsing .sing {
    border: 1px solid;
    padding: 15px 0;
    background-color: var(--facebook-color);
    font-size: 15px;
    color: var(--white-color);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;

}

.singin .allsingin .singin-1 .singincontent .socialsing .sing:nth-child(2) {
    background-color: var(--twwiter-color);
}

.singin .allsingin .singin-1 .singincontent .socialsing .sing i {
    font-size: 17px;
    margin-right: 10px;
}

.singin .allsingin .singin-1 .singincontent .formsing {
    width: 100%;
    height: 100%;

}

.singin .allsingin .singin-1 .singincontent .formsing form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.singin .allsingin .singin-1 .singincontent .formsing form label {
    font-size: 15px;
    color: var(--gray-dark);
}

.singin .allsingin .singin-1 .singincontent .formsing form label span {
    color: var(--red);
    font-size: 17px;
}

.singin .allsingin .singin-1 .singincontent .formsing form .inputsing {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    outline: none;
}

.singin .allsingin .singin-1 .singincontent .formsing .form-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.singin .allsingin .singin-1 .singincontent .formsing .form-1 .radio {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.singin .allsingin .singin-1 .singincontent .formsing .form-1 .radio input {
    margin-right: 8px;
}

.singin .allsingin .singin-1 .singincontent .formsing .form-1 .radio label {
    font-size: 15px;
    color: var(--secondary);
}

.singin .allsingin .singin-1 .singincontent .formsing .form-1 a {
    font-size: 14px;
    color: var(--facebook-color);
    font-weight: 600;
}

.singin .allsingin .singin-1 .singincontent .formsing .form-1 {
    margin: 20px 0;
}

.btn-5 {
    width: 100px;
    font-size: 18px;
    color: var(--white-color);
    background-color: var(--primary);
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
}

.selone a img {
    width: 25px;
    height: 25px;
}

/* End log in */

/* Start sign up */
.singin .allsingin .newaccount {
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    /*display: none;*/
}



.singin .allsingin .newaccount .contentnew .formnew {
    width: 100%;
    height: 100%;
}

.singin .allsingin .newaccount .titlelog {
    margin: 10px 0;
}

.singin .allsingin .newaccount .contentnew .formnew form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.singin .allsingin .newaccount .contentnew .formnew form .inputnew {
    width: 100%;
    padding: 10px;
    height: 100%;
    margin: 10px 0;
    border: 1px solid #ddd;
    outline: none;
}

.singin .allsingin .newaccount .contentnew .formnew form label {
    font-size: 15px;
    color: var(--gray-dark);
}

.singin .allsingin .newaccount .contentnew .formnew form label span {
    font-size: 17px;
    color: var(--red);
}



.singin .allsingin .newaccount.active {
    display: block;
}

.singin .allsingin .singin-1.none {
    display: none;
}

.singin .allsingin .singin-1 .singincontent .socialsing .sing i{
    margin-left: 10px;
}
.singin .allsingin .singin-1 .singincontent .formsing .form-1 .radio label{
    margin-right:10px;
}
.footer .mainFooter .allFooter .foot2 .titleFoot2::before {
    right: 0;
  }
  .price .allPrice .cardPrice_content .card__list .card__list-item {
    gap: 20px;
  }
  .singin .allsingin .singin-1 .singincontent .socialsing .sing i {
    margin-left: 10px;
  }
  .footer .mainFooter .allFooter .foot1 .add i {
    margin-left: 6px;
  }

/*** End new account ******/
/* End all form */
/* Start media */
@media screen and (max-width: 991px) {
    .singin .allsingin .newaccount {
        width: 100%;
    }

    .singin .allsingin .singin-1 {
        width: 100%;
    }

    .titlelog {
        font-size: 20px;
    }

    .newAccountSignIn,
    .newAccountSignUp {
        font-size: 14px;
    }
}

/* End media */

