* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --orange-color: #ee6f57;
    --bg-color: #f7f6ee;
    --blueBlack-color: #070d59;
    --white-color: #ffff;
    --green-color: #32cc8c;
    --gray-color: #4a4747;
    --gray-color2: gray;
    --black-color: #0b1a26;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --border-color: 1px solid #ccc;
    --box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    --main-transition: all 0.5s;
    --new-color: #51459f;
    --form-bg: #13232f;
    --red: #dc3545;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --dark: #141a20;
    --white-1: #eaeaea;
    --facebook-color: #3d5c98;
    --twwiter-color: #0084b9;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    width: 170px;
    height: 40px;
    background-color: var(--orange-color);
    color: var(--white-color);
    outline: none;
    border: 1px solid var(--orange-color);
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--main-transition);
    box-shadow: var(--box-shadow);
}

.btn:hover {
    background: transparent;
}

/* Start header */
.ImgHeader {
    min-height: 100vh;
    position: relative;
}

#header .allHeader {
    position: relative;
    z-index: 999;
    padding: 10px 7%;
}

#header .main_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: var(--main-transition);
    position: relative;
}

/* Start Class To active Header */
#header .main_Header.activeHeader {
    position: fixed;
    width: 100%;
    padding: 10px 7%;
    background-color: var(--new-color);
    left: 0;
    right: 0;
    top: 0;
}

/* End Class To active Header */
.logo {
    border-radius: 10px;
    width: 80px;
    height: 75px;
}

.logo img {
    margin-top: 2px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

#header .main_Header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .main_Header nav .links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .main_Header nav .links li a {
    font-size: 16px;
    font-weight: bold;
    color: var(--white-color);
    display: block;
    padding: 5px 30px;
    position: relative;
    height: 25px;
    text-decoration: none;
}

#header .main_Header nav .links li a::after {
    content: "";
    position: absolute;
    border-width: 2px 0;
    border-color: var(--white-color);
    border-style: solid;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s;
    border-radius: 6px;
    padding: 13px 0;
}

#header .main_Header nav .links li a:hover::after {
    transform: scale3d(1, 1, 1);
}

#header .main_Header nav .links li a:hover {
    color: var(--orange-color);
}

#header .allHeader .icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

#header .allHeader .icons .userIcon a {
    font-size: 22px;
    color: var(--white-color);
    cursor: pointer;

}

.content_header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}

.content_header .box .content__Box .title {
    font-size: 60px;
    font-weight: bold;
    color: var(--white-color);
    padding: 10px 0;
    line-height: 1.5;
}

.content_header .box .content__Box .text {
    font-size: 16px;
    font-weight: 400;
    color: var(--bg-color);
    max-width: 550px;
    margin: auto;
    line-height: 1.8;
    padding: 10px 0;
}

.content_header .box .content__Box .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.content_header .box .content__Box .btns .btn:first-child {
    background-color: var(--new-color);
    border: 1px solid var(--new-color);
}

.content_header .box .content__Box .btns .btn:hover {
    background: transparent;
}

.toggle {
    font-size: 25px;
    font-weight: bold;
    color: var(--white-color);
    display: none;
}

/* End header */
/* Start section bann */
.bann {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.bannerheader1 {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.imgBanner1 {
    width: 110%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    animation: zoom-out 5s linear infinite;
}

@keyframes zoom-out {
    100% {
        width: 100%;
    }
}

.bannerheader1:nth-child(1) {
    animation: slide1 15s linear infinite;
}

.bannerheader1:nth-child(2) {
    animation: slide2 15s linear infinite;
}

.bannerheader1:nth-child(3) {
    animation: slide3 15s linear infinite;
}

.bannerheader1:nth-child(4) {
    animation: slide4 15s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes slide2 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slide3 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slide4 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.bann::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/* End section bann */
/* Start content pro */
.ContentPro {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.ContentPro .allContnet {
    border: var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--white-color);
    border-radius: 5px;
}

.ContentPro .allContnet .contentone {
    height: 170px;
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    padding: 25px 10px;
    gap: 10px;
}

.ContentPro .allContnet .contentone .cont h1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--blueBlack-color);
}

.ContentPro .allContnet .contentone .cont p {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    line-height: 1.6;
    padding: 10px 0;
}

.ContentPro .allContnet .contentone i {
    font-size: 40px;
    color: var(--red);
}

.ContentPro .allContnet .contentone:nth-child(2) {
    border-left: var(--border-color);
    border-right: var(--border-color);
}

/* Start Button Scroll To Top  */
.scrollTop {
    position: fixed;
    bottom: 20px;
    left: -60px;
    background-color: var(--new-color);
    color: var(--white-color);
    font-size: 22px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px;
    transition: right 0.5s;
    cursor: pointer;
    z-index: 700;
    border-radius: 5px;
    transition: var(--main-transition);
}

.scrollTop:hover {
    background-color: var(--orange-color);
}

.scrollTop.activeTop {
    left: 25px;
}

/* End Button Scroll To Top  */
/***** Start onload ****
.animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #e5e5e5;
  z-index: 2000;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}
.animation.show {
  visibility: hidden;
}

.animation .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
}
.animation .content > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.animation .content > span:nth-child(1) {
  width: 40px;
  height: 40px;
  animation: rotate 2s ease-in-out 0s infinite;
  border-top: 7px solid #341f97;
}
.animation .content > span:nth-child(2) {
  width: 80px;
  height: 80px;
  animation: rotate 2s ease-in-out 1s infinite;
  border-top: 7px solid #ee5253;
}
.animation .content > span:nth-child(3) {
  width: 120px;
  height: 120px;
  animation: rotate 2s ease-in-out 2s infinite;
  border-top: 7px solid #01a3a4;
}

/****** End onload ******/
/* Start social icons */
.socialIcons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 6px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: var(--main-transition);
    z-index: 999;
}

.socialIcons .allIcons {
    display: flex;
    gap: 50px;
    flex-direction: column;
    background-color: var(--white-color);
    width: 48px;
    padding: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(150px);
    visibility: hidden;
    opacity: 0;
    transition: var(--main-transition);
    border-radius: 6px 6px 0 0;
}

.socialIcons .allIcons.activeicon {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.socialIcons i {
    font-size: 22px;
    color: var(--blueBlack-color);
    cursor: pointer;
}

.icon1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icongear1 {
    background: var(--red);
    width: 48px;
    text-align: center;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 0 0 6px 6px;
}

.icongear1 .iconGear {
    color: var(--white-color);
    animation: gear 1s linear infinite;
}

@keyframes gear {
    100% {
        transform: rotate(180deg);
    }
}

.icon1 h4 {
    font-size: 15px;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--black-color);
    width: 90px;
    padding: 6px;
    text-align: center;
    transform: translateX(-80px);
    position: absolute;
    top: 0px;
    z-index: 55;
    visibility: hidden;
    opacity: 0;
    transition: var(--main-transition);
}

.icon1 h4::after {
    content: "";
    position: absolute;
    background-color: var(--black-color);
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: -10px;
    z-index: -2;
}

.icon1:hover h4 {
    visibility: visible;
    opacity: 1;
}

/* End socila icons */


.selone a img {
    width: 25px;
    height: 25px;
}

/* Start banner */
section {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.banner {
    padding-top: 200px;
}

.banner .allBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.banner .allBanner .imgbanner {
    flex: 1 1 15rem;
    position: relative;
}

.banner .allBanner .imgbanner .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.banner .allBanner .imgbanner img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .allBanner .content {
    flex: 1 1 20rem;
}

.banner .allBanner .content h1 {
    font-size: 30px;
    font-weight: bold;
    color: var(--blueBlack-color);
    padding: 10px 0;
}

.banner .allBanner .content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-color2);
    padding: 10px 0;
    line-height: 1.7;
}

.banner .allBanner .content .btn {
    width: 140px;
    background-color: var(--new-color);
    border: 1px solid var(--new-color);
    margin-top: 20px;
}

/* End banner */
/* Start section icons  */
#icons {
    background: #f8f8f8;
    margin-bottom: 10px;
}

#icons .allIcons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
}

#icons .row .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#icons .row .col i {
    font-size: 25px;
    background-color: #631344fd;
    color: var(--white-color);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}

#icons .row .col span {
    font-size: 18px;
    font-weight: bold;
    color: var(--blueBlack-color);
}

/* End section icons */

/* Start section price */
#price {
    background: #0f0f2e;
}

.TitleSection {
    text-align: center;
    padding: 30px 0;
}

.TitleSection h1 {
    font-size: 30px;
    font-weight: bold;
    color: var(--white-color);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

.TitleSection h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--orange-color);
    width: 120px;
    height: 4px;
    border-radius: 5px;
}

.TitleSection p {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-color2);
    padding: 10px 0;
    line-height: 1.7;
}

.price .allPrice {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.price .allPrice .cardPrice_content {
    border: var(--border-color);
    text-align: center;
    position: relative;
    box-shadow: var(--box-shadow);
    padding-bottom: 20px;
    background: var(--white-color);
    border-radius: 6px;
}

.price .allPrice .cardPrice_content .contentPrice {
    background-color: #2f3f6f;
    position: relative;
    padding: 20px 0;
}

.price .allPrice .cardPrice_content .contentPrice h1 {
    font-size: 22px;
    color: var(--orange-color);
    font-weight: bold;
}

.price .allPrice .cardPrice_content .contentPrice p {
    font-size: 20px;
    font-weight: bold;
    color: #f7f7f7;
    line-height: 1.6;
    padding: 10px 0;
}

.price .allPrice .cardPrice_content .contentPrice .iconSat {
    position: absolute;
    left: 50%;
    top: 85px;
    transform: translateX(-50%);
    padding-top: 10px;
}

/* Media 559px & 315px*/
@media screen and (max-width: 1200px) {
    .price .allPrice .cardPrice_content .contentPrice .iconSat {
        top: 90px;
    }
}

@media screen and (max-width: 559px) {
    .price .allPrice .cardPrice_content .contentPrice {
        padding: 20px 0;
    }

    .price .allPrice .cardPrice_content .contentPrice .iconSat {
        top: 85px;
    }

    .price .allPrice .cardPrice_content .contentPrice h1 {
        font-size: 17px;
    }

    .price .allPrice .cardPrice_content .contentPrice p {
        font-size: 20px;
    }
}

@media screen and (max-width: 315px) {
    .price .allPrice .cardPrice_content .contentPrice .iconSat {
        display: none;
    }
}

/* End Media 559px & 315px*/
.price .allPrice .cardPrice_content .contentPrice .iconSat i {
    font-size: 18px;
    color: var(--black-color);
    background-color: var(--white-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.price .allPrice .cardPrice_content .card__list {
    padding: 15px 0 0 0;
}

.price .allPrice .cardPrice_content .card__list .card__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.price .allPrice .cardPrice_content .card__list .card__list-item i {
    font-size: 18px;
    color: var(--red);
    margin-right: 10px;
    padding-bottom: 10px;
}

.price .allPrice .cardPrice_content .card__list .card__list-item .card_Text {
    font-size: 18px;
    color: var(--black-color);
    font-weight: 400;
}

.price .allPrice .cardPrice_content .btn__price .btn {
    background-color: var(--new-color);
    border: 1px solid var(--new-color);
}

.card__pricing::after,
.card__pricing::before {
    content: "";
    position: absolute;
}

.card__pricing::before {
    width: 14px;
    height: 16px;
    background-color: var(--new-color);
    top: 0;
    left: -14px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.card__pricing {
    position: absolute;
    background: linear-gradient(157deg,
    var(--new-color) -12%,
    var(--new-color) 109%);

    width: 40px;
    height: 88px;
    right: -10px;
    top: -1.6rem;
    padding-top: 1.25rem;
    text-align: center;
    z-index: 200;
}

.card__pricing::after {
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}

.card__pricing .card__pricing-month {
    font-size: 20px;
    font-weight: bold;
    color: var(--white-color);
    writing-mode: vertical-lr;
}

/* End section price */
/* Start Section New Server */
#NewServer {
    background: #f8f8f8;
    margin-top: 10px;
}

.NewServer .TitleSection h1 {
    color: var(--blueBlack-color);
}

.NewServer .allServer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.NewServer .allServer .server_One {
    border: var(--border-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-radius: 6px;
    background-color: var(--white-color);
}

.NewServer .allServer .server_One .img {
    position: relative;
}

.NewServer .allServer .server_One .img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.NewServer .allServer .server_One .img img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.NewServer .allServer .server_One .content {
    padding: 10px;
    text-align: center;
}

.NewServer .allServer .server_One .content h1 {
    font-size: 16px;
    font-weight: bold;
    color: var(--black-color);
    line-height: 1.6;
}

.NewServer .allServer .server_One .content p {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-color2);
    padding: 10px 0;
    line-height: 1.7;
}

.NewServer .allServer .server_One .content .numbers_price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
}

.NewServer .allServer .server_One .content .numbers_price span {
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: var(--orange-color);
}

.NewServer .allServer .server_One .content .numbers_price span:nth-child(2) {
    color: var(--gray-color2);
    text-decoration: line-through;
    font-size: 14px;
}

.NewServer .allServer .server_One .btn {
    margin: 10px 0;
    background-color: var(--new-color);
    width: 100%;
    border: 1px solid var(--new-color);
}

.NewServer .allServer .server_One .btn:hover {
    background: transparent;
    color: var(--black-color);
}

/* End Section New Server */
/* Start all reivew */
.review {
    padding-bottom: 0;
    padding-top: 0;
    background-color: #f8f8f8;
}

.review .TitleSection h1 {
    color: var(--blueBlack-color);
}

.review .all_review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.review .all_review .main {
    position: relative;
}

.review .all_review .main .slider {
    padding: 0 0 50px 0;
}

.review .all_review .main .slider .slide_one {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    display: none;
}

.review .all_review .main .slider .slide_one.active {
    display: block;
}

.review .all_review .main .slider .slide_one .portfolio img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review .all_review .main .slider .slide_one .portfolio {
    display: flex;
    align-items: center;
    gap: 50px;
}

.review .all_review .main .slider .slide_one .portfolio .info_slide h1 {
    font-size: 18px;
    font-weight: bold;
    color: var(--blueBlack-color);
}

.review .all_review .main .slider .slide_one .portfolio .info_slide .stars {
    padding: 10px 0;
}

.review .all_review .main .slider .slide_one .portfolio .info_slide .stars i {
    font-size: 17px;
    color: gold;
}

.review .all_review .main .slider .slide_one p {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-color2);
    line-height: 1.7;
    padding: 15px 0;
}

#left_arrow,
#right_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#left_arrow {
    left: 5px;
}

#right_arrow {
    right: 5px;
}

#left_arrow i,
#right_arrow i {
    font-size: 20px;
    color: var(--orange-color);
    cursor: pointer;
}

/* End all reivew */
/* Start teacher */
.teachers .slide,
.teachersOne .slideOne {
    text-align: center;
}

.teachers .slide .image,
.teachersOne .slideOne .image1 {
    position: relative;
    overflow: hidden;
}

.teachers .slide .image {
    height: 450px;
    border: 2px solid #e2e0e0;
    border-radius: 6px;
}

.teachersOne .slideOne .image1 {
    height: 150px;
    border: 2px solid #e2e0e0;
    border-radius: 6px;
}

.teachers .slide .image img,
.teachersOne .slideOne .image1 img {
    background: #f0fdfa;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.teachers .slide .content,
.teachersOne .slideOne .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.teachers .slide .content a,
.teachersOne .slideOne .content a {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    padding-left: 10px;
    text-decoration: none;
}

.teachers .slide .content a,
.teachersOne .slideOne .content a {
    font-size: 1.5rem;
    line-height: 2;
    color: #444;
    padding-right: 10px;
}

.teachers .TitleSection h1,
.teachersOne .TitleSection h1 {
    color: var(--blueBlack-color);
}

.imgteach,
.imgteachOne {
    margin: 50px 0;
    height: 500px;
}

.imgteach img,
.imgteachOne img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/*End teacher*/
/** Start footer **/
.footer .footerImg {

    min-height: 300px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgfoot {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.imgfoot::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 310px;
}

.imgfoot img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    max-width: 100%;
}

.footer .footerImg .contentFooterImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .footerImg .contentFooterImg p {
    font-size: 30px;
    font-weight: 400;
    color: var(--white-color);
    padding: 10px 0;
    line-height: 1.7;
    text-align: center;
}

.footer .footerImg .contentFooterImg form {
    background-color: var(--white-color);
    min-width: 600px;
    margin-top: 20px;
    border-radius: 5px;
}

.footer .mainFooter {
    background-color: #0b1a26;
    min-height: 100%;
    padding-top: 30px;
}

.footer .mainFooter .allFooter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.footer .mainFooter .allFooter .foot1 .textFoot1 {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
    padding: 10px 0;
    line-height: 1.8;
}

.footer .mainFooter .allFooter .foot1 .add {
    font-size: 15px;
    font-weight: 400;
    color: gray;
    line-height: 1.6;
    padding: 10px 0;
}

.footer .mainFooter .allFooter .foot1 .add i {
    color: var(--white-color);
    font-size: 18px;
    font-weight: bold;
    margin-right: 6px;
}

.footer .mainFooter .allFooter .foot1 .social {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 0;
}

.footer .mainFooter .allFooter .foot1 .social i {
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--red);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--red);
    transition: var(--main-transition);
    cursor: pointer;
}

.footer .mainFooter .allFooter .foot1 .social i:nth-child(1) {
    background-color: rgb(33, 33, 136);
    border: 1px solid rgb(33, 33, 136);
}

.footer .mainFooter .allFooter .foot1 .social i:nth-child(2) {
    background-color: rgb(18, 125, 175);
    border: 1px solid rgb(18, 125, 175);
}

.footer .mainFooter .allFooter .foot1 .social i:nth-child(3) {
    background-color: rgb(0, 38, 255);
    border: 1px solid rgb(0, 38, 255);
}

.footer .mainFooter .allFooter .foot1 .social i:nth-child(5) {
    background-color: rgb(184, 18, 218);
    border: 1px solid rgb(184, 18, 218);
}

.footer .mainFooter .allFooter .foot1 .social i:hover {
    background-color: transparent;
}

.footer .mainFooter .allFooter .foot2 .titleFoot2 {
    font-size: 17px;
    font-weight: bold;
    color: var(--white-color);
    position: relative;
    padding: 8px 0;
    margin-bottom: 10px;
}

.footer .mainFooter .allFooter .foot2 .titleFoot2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--orange-color);
}

.footer .mainFooter .allFooter .foot2 ul li a {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
    padding: 10px 0;
    display: block;
    transition: var(--main-transition);
    text-decoration: none;
}

.footer .mainFooter .allFooter .foot2 ul li a:hover {
    color: var(--orange-color);
}

.footer .mainFooter .payment {
    border-top: var(--border-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 110px;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

.footer .mainFooter .payment .name h3 {
    font-size: 13px;
    font-weight: bold;
    color: var(--white-color);
    line-height: 1.6;
}

.footer .mainFooter .payment .king h3 {
    font-size: 13px;
    font-weight: bold;
    color: var(--white-color);
}

.footer .mainFooter .pay img,
.footer .mainFooter .payone img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer .mainFooter .payone {
    display: none;
}

/** End footer ***/

/* Start Bage Contact */

/***** Start section all contact us ***/
/* #contact{
  padding-top:100px;
  padding-bottom:100px;
} */
#contact .allcontactform {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-gap: 2rem;
}

.title {
    font-size: 25px;
    color: var(--red);
    font-weight: 400;
    margin: 10px 0 20px 0;
}

/**** Start contact 1 *****/
#contact .allcontactform .contact1 {
    border: var(--border2);
    padding: 20px;
    border-radius: 5px;
}

#contact .allcontactform .contact1 .form1 {
    width: 100%;
}

#contact .allcontactform .contact1 .form1 form label {
    font-size: 17px;
    color: var(--gray);
    font-weight: 400;
}

#contact .allcontactform .contact1 .form1 form {
    width: 100%;
    height: 100%;
}

#contact .allcontactform .contact1 .form1 form .inputform1 {
    width: 100%;
    height: 100%;
    padding: 12px;
    margin: 10px 0;
    border: var(--border2);
    outline: none;
    resize: none;
}

#contact .allcontactform .contact1 .send1 .send {
    width: 100px;
    height: 40px;
    background-color: var(--gray-dark);
    color: var(--white-color);
    font-size: 17px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 2px;
    margin: 10px 0;
    cursor: pointer;
}

.closeBtnNav {
    font-size: 25px;
    font-weight: bold;
    color: var(--white-color);
    position: absolute;
    top: 30px;
    left: 30px;
    display: none;
}

/*** Small screen ***/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*** medium screen ***/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*** large screen ***/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media screen and (max-width: 1200px) {
    .footer .mainFooter .pay {
        display: none;
    }

    .footer .mainFooter .payone {
        display: block;
        padding: 10px 0;
    }
}

@media screen and (max-width: 991px) {
    .ContentPro {
        position: static;
        left: 0;
        transform: translateX(0);
    }

    .ContentPro .allContnet {
        flex-direction: column;
    }

    .ContentPro .allContnet .contentone {
        flex-direction: column-reverse;
        text-align: center;
        height: 150px;
        padding: 70px 0;
    }

    .ContentPro .allContnet .contentone h1 {
        padding: 10px 0;
    }

    .ContentPro .allContnet .contentone:nth-child(2) {
        border: none;
        border-top: var(--border-color);
        border-bottom: var(--border-color);
    }

    .banner {
        padding-top: 0;
    }

    #header .main_Header nav .links li a {
        font-size: 15px;
        padding: 5px 22px;
    }
}

@media screen and (max-width: 768px) {
    #header .main_Header nav {
        position: fixed;
        top: 0;
        right: -130%;
        bottom: 0;
        width: 30rem;
        height: 100vh;
        background-color: var(--form-bg);
        transition: var(--main-transition);
    }

    #header .main_Header nav .links {
        flex-direction: column;
    }

    #header .main_Header nav .links li a {
        font-size: 18px;
        color: var(--white-color);
        padding:5px 0 30px 0;
        margin: 22px 0;
        display: block;
    }

    .toggle,
    .closeBtnNav {
        display: block;
    }

    #header .main_Header nav.activeNav {
        right: 0;
    }

    .review .all_review .main .slider .slide_one {
        width: 100%;
    }

    .review .all_review .main .slider .slide_one p {
        font-size: 12px;
    }

    .content_header .box .content__Box .title {
        font-size: 40px;
    }

    .content_header .box .content__Box .text {
        font-size: 14px;
        max-width: 70%;
    }

    .content_header .box .content__Box .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .footer .footerImg .contentFooterImg h1 {
        font-size: 30px;
    }

    .footer .mainFooter .payment {
        padding: 15px 15px;
    }

    .footer .footerImg .contentFooterImg form {
        min-width: 400px;
    }

    .home {
        display: none;
    }

    .footer .footerImg .contentFooterImg p {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    #header .main_Header nav {
        width: 100%;
    }

    .review .all_review .main .slider .slide_one {
        text-align: center;
        padding: 10px;
    }

    .review .all_review .main .slider .slide_one .portfolio {
        flex-direction: column;
        gap: 10px;
    }

    .review .all_review .main .slider .slide_one .textSlide {
        line-height: 2;
    }

    .content_header .box .content__Box .text {
        max-width: 100%;
    }

    .content_header .box .content__Box .title {
        font-size: 30px;
    }

    .banner .allBanner .content h1 {
        font-size: 20px;
    }

    .banner .allBanner .content p {
        font-size: 14px;
        line-height: 2;
    }

    .TitleSection h1 {
        font-size: 20px;
    }

    .TitleSection p {
        font-size: 12px;
    }

    .footer .footerImg .contentFooterImg form {
        min-width: 100%;
    }

    .footer .footerImg .contentFooterImg {
        text-align: center;
    }

    .footer .footerImg .contentFooterImg h1 {
        font-size: 22px;
        font-weight: bold;
    }

    .ContentPro .allContnet .contentone h1 {
        font-size: 16px;
    }

    .ContentPro .allContnet .contentone p {
        font-size: 12px;
    }

    .footer .footerImg .contentFooterImg p {
        font-size: 16px;
    }

    .footer .mainFooter .payone {
        width: 300px;
    }

    #icons .allIcons {
        gap: 50px;
    }

    #left_arrow,
    #right_arrow {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
    }
}
