:root {
  --red: #dc3545;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --blue-2: #0363cd;
  --white-1: #f8f9f9;
  --border2: 1px solid #e1e1e1;
  --white-color-2: #e1e1e1;
  --bg-color: #f7f7f7;
}

/* Start Contact */
.ImgHeader {
  min-height: 50vh;
}
.bann {
  height: 49vh;
}
.bannerheader1,
.bannerheader2,
.bannerheader3,
.bannerheader4 {
  height: 100%;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 90px 0;
  
}

.contact .contctTitle {
  font-size: 30px;
  font-weight: bold;
  color: var(--white-1);
  text-transform: uppercase;
}
/*================================== Start Bage Contact =================================================*/

/******** Start contact 2 ******/
#contact .allcontactform .contact2 {
  border: var(--border2);
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 5px;
}

#contact .allcontactform .contact2 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  line-height: 1.5;
}
#contact .allcontactform .contact2 .address:not(:last-child) {
  border-bottom: var(--border2);
  margin: 40px 0;
  padding: 10px 0;
}
#contact .allcontactform .contact2 .address h2 {
  font-size: 16px;
  font-weight: bold;
  color: var(--gray-dark);
  margin-bottom: 10px;
}
#contact .allcontactform .contact2 .address i {
  font-size: 18px;
  margin-right: 8px;
}
#contact .allcontactform .contact2 .address p {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-dark);
  line-height: 2;
}
/**** End contact 2 ****/
/***** End section all contact us ***/
/*================================== Start Bage Contact =================================================*/

/***** Start media ***/

@media screen and (max-width: 768px) {
  #contact .allcontactform {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: 18px;
  }
  .contact .contctTitle{
    font-size: 22px;
  }
}
/****** End Media ****/

/* End Bage Contact */
