.footer .mainFooter .allFooter .foot2 .titleFoot2::before {
    right: 0;
  }
  .price .allPrice .cardPrice_content .card__list .card__list-item {
    gap: 20px;
  }
  .singin .allsingin .singin-1 .singincontent .socialsing .sing i {
    margin-left: 10px;
  }
  .footer .mainFooter .allFooter .foot1 .add i {
    margin-left: 6px;
  }



